{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenue sur Symfony</title>
    </head>
    <body>
        <h1>Bienvenue sur Symfony !</h1>
        <p>C'est la page principale.</p>
    </body>
</html>
